body {
	margin: 0;
}
body {
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	font-size: 81.25%;
}

div {
	/* display: block; */
}
#nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 17px;
}
#nav a {
	margin-right: 22px;
}

#nav a.userimage {
	width: 30px;
	height: 30px;
	background-image: url("images/userimage.png");
	border-radius: 50%;
}

#nav a.navlink {
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 600;
}

#middle {
	margin-top: 60px;
}

#logo {
	text-align: center;
}
/* input {
	background-color: white;
	border: none;
	border-radius: 3px;
	color: black;
	font-family: inherit;
	font-size: inherit;
	height: 100%;
	outline: none;
	padding-inline-end: 44px;
	padding-inline-start: 52px;
	position: relative;
	width: 100%;
}
input[type="search" i] {
	appearance: auto;
	box-sizing: border-box;
	padding: 1px 2px;
} */
#middle {
}

#searchcontainer {
	text-align: center;
	margin-top: 22px;
}
#search {
	padding-top: 10px;
	padding-bottom: 10px;
	outline: 0;
	width: 600px;
	border-radius: 17px;
	border: 1px solid rgb(196, 188, 188);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/* input {
	margin: 0em;
	padding: 1px 2px;
	border-width: 2px;
	border-style: inset;
	border-color: rgb(133, 133, 133);
	border-image: initial;
	outline: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
} */
