body {
	margin: 0;
}
body {
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	font-size: 81.25%;
}

div {
	/* display: block; */
}
#nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 21px;
}
#nav a {
	margin-right: 20px;
}

#nav a.userimage {
	width: 32px;
	height: 32px;
	background-image: url("images/userimage.png");
	border-radius: 50%;
}

#nav a.navlink {
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 500;
}

#middle {
	margin-top: 90px;
}

#logo {
	text-align: center;
}
/* input {
	background-color: white;
	border: none;
	border-radius: 3px;
	color: black;
	font-family: inherit;
	font-size: inherit;
	height: 100%;
	outline: none;
	padding-inline-end: 44px;
	padding-inline-start: 52px;
	position: relative;
	width: 100%;
}
input[type="search" i] {
	appearance: auto;
	box-sizing: border-box;
	padding: 1px 2px;
} */
#middle {
}

#searchcontainer {
	text-align: center;
	margin-top: 40px;
}
#search {
	padding-top: 14px;
	padding-bottom: 14px;

	outline: 0;
	width: 454px;
	border-radius: 20px;
	border: 1px solid rgb(216, 213, 213);
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
input {
	padding-inline-end: 44px;
	padding-inline-start: 52px;
}
/* #customizeButton {
	border: none;
	border-radius: 17px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	font-weight: 400;
	min-width: 32px;
} */
